<footer>
    <div class="panel panel-default panel-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
        By Marine Baillet
            </div>
            <div class="hidden-xs col-sm-9">
            
        <ul class="list-inline pull-right">
            <li><a href="{{ path('studio_site_homepage')}}">Accueil</a></li>
            <li><a href="{{ path('studio_site_legal')}}">Mentions légales</a></li>
            <li><a href="{{ path('studio_site_cookies')}}">Cookies</a></li>
            <li><a href="{{ path('studio_site_contact')}}">Contact</a></li>
        </ul>
            </div>
            </div>
        </div>
    </div>
</footer>