<header>
       <div class="row vertical-box">
           <div class="col-xs-12 col-sm-10 col-md-8 ">
               <img class="pull-right" src="{{ asset('images/logo.png') }}" alt="mon logo">
           </div>
           <div class="hidden-xs col-sm-2 col-md-4  ">
               <div class="pull-right"><i class="fa fa-phone" aria-hidden="true"></i><strong> 06.45.48.45.30</strong></div>
           </div>
     </div>
</header>